<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <p v-if="active">{{ message }}</p>
      <ul>
        <li v-for="item in items">{{ item }}</li>
      </ul>
      <input type="text" v-model="message" />
      <button v-on:click="handleClick">ボタン</button>
      <p v-bind:style="styleObject">ooooo</p>

      <label for="name">名前:</label>
      <input type="text" v-model="name" />
      <button v-on:click="addMonster">モンスター追加</button>
      <ul>
        <li
          v-for="item in monster"
          v-bind:key="item.id"
          v-bind:style="styleObject"
        >
          ID:{{item.id}} {{item.name}} HP.{{item.hp}}
          <span v-if="item.id === 3">強い!!!</span>
          <button v-on:click="removeMonster(item.id)">Monsterの削除</button>
          <button v-on:click="attcakMonster(item.id)">Monsterへ攻撃</button>
        </li>
      </ul>
      <pre>{{ $data }}</pre>
    </div>
    <script src="https://unpkg.com/vue@3.2.29"></script>
    <script src="main.js"></script>
  </body>
</html>
